.git
.gitignore
.dockerignore

/bin/
/log/
/logs/
/cache/
/temp/
/tmp/

/.idea/
/.vscode/
/.env
*.suo
*.user
*.userosscache
*.sln
*.csproj
*.sublime-project
*.sublime-workspace

/testdata/
/fixtures/
/mock/
/mocks/
/stub/

/.github/
/.gitlab-ci.yml
/Dockerfile

Chart.lock
calendar-chart/
